@using NHSUKFrontendRazor.ViewModels
@model LinkViewModel

<a class="nhsuk-back-link" asp-controller="@Model.AspController" asp-action="@Model.AspAction" asp-all-route-data="@Model.AspAllRouteData">
    @Model.LinkText
</a>