@using NHSUKFrontendRazor.ViewModels
@model DoDontListViewModel

<div class="nhsuk-do-dont-list">
    <h3 class="nhsuk-do-dont-list__label">@(Model.IsDo ? "Do" : "Don't'")</h3>
    <ul class="nhsuk-list nhsuk-list--tick" role="list">
        @foreach (var rule in Model.RuleSet)
        {
            <li>
                @if (Model.IsDo)
                {
                    <svg class="nhsuk-icon nhsuk-icon--tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
                        <path d="M11.4 18.8a2 2 0 0 1-2.7.1h-.1L4 14.1a1.5 1.5 0 0 1 2.1-2L10 16l8.1-8.1a1.5 1.5 0 1 1 2.2 2l-8.9 9Z" />
                    </svg>
                }
                else
                {
                    <svg class="nhsuk-icon nhsuk-icon--cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
                        <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z" />
                    </svg>
                }

                @rule
            </li>
        }
    </ul>
</div>